site_name: DYAMAND

# Meta tags (placed in header)
site_description: 
#site_author: Your Name
#site_url: https://you.github.io/dyamand-integration

# Repository (add link to repository on each page)
#repo_name: dyamand-integration
#repo_url: http://github.com/you/dyamand-integration
#edit_uri: edit/master/src/doc/docs/

#Copyright (shown at the footer)
copyright: 'Copyright &copy; 2021 DYAMAND'

# Material theme
theme: 'material'
extra_css: 
  - extra.css
#extra:
# palette:
#    primary: 'indigo'
#    accent: 'indigo'

#  social:
#    - type: 'github'
#      link: 'https://github.com/you'
#    - type: 'twitter'
#      link: 'https://twitter.com/you'


# Google Analytics
#google_analytics:
#  - 'UA-111111111-1'
#  - 'auto'

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - codehilite:
      guess_lang: false
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.highlight:
      linenums: true
      linenums_style: pymdownx.inline
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: false

nav:
  - What is DYAMAND?: index.md
  - For end users: endusers.md
  - For application developers: applicationdevelopers.md
  - For core developers: coredevelopers.md
  - DYAMAND overview:
      - Generic model: dyamand/model.md
      - Plugins: dyamand/plugins.md
  - Writing an application:
      - Service lifecycle: applications/services.md
  - Add technology support:
      - Overview: plugins/overview.md
      - Adding new state and service prototypes: plugins/prototypes.md
      - Structure: plugins/structure.md
      - Discovering a new service: plugins/discovery.md
      - Describing a service: plugins/description.md
      - Detecting state changes: plugins/state_changes.md
      - Template for new technologies: technologies/template.md
  - Style guidelines:
      - Logging: styleguides/logging.md
  - Technologies:
    - Bluetooth: technologies/bluetooth.md
    - OCTA: technologies/octa.md
