site_name: DYnamic, Adaptive MAnagement of Networks and Devices

# Meta tags (placed in header)
site_description: 
#site_author: Your Name
#site_url: https://you.github.io/dyamand-integration

# Repository (add link to repository on each page)
#repo_name: dyamand-integration
#repo_url: http://github.com/you/dyamand-integration
#edit_uri: edit/master/src/doc/docs/

#Copyright (shown at the footer)
copyright: 'Copyright &copy; 2019 DYAMAND'

# Meterial theme
theme: 'material'
extra_css: 
  - extra.css
#extra:
#  palette:
#    primary: 'indigo'
#    accent: 'indigo'

#  social:
#    - type: 'github'
#      link: 'https://github.com/you'
#    - type: 'twitter'
#      link: 'https://twitter.com/you'


# Google Analytics
#google_analytics:
#  - 'UA-111111111-1'
#  - 'auto'

# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist

nav:
  - Home: index.md
  - Writing an application:
      - Service lifecycle: applications/services.md
  - Add technology support:
      - Discovering a new service: plugins/discovery.md
      - Adding new state and service prototypes: plugins/prototypes.md
      - Describing a service: plugins/description.md
  - Style guidelines:
      - Logging: styleguides/logging.md
  - Tests:
      - 1. Discovering new services: tests/discovery.md
      - 2. Describing services: tests/description.md
      - Internal functionality:
        - A. Task scheduling: tests/scheduling.md
        - B. Eventing: tests/eventing.md
        - C. Installation Monitoring: tests/installation_monitoring.md
        - D. Backend Communication: tests/backend_communication.md
        - E. GraphQL endpoint: tests/graphql_endpoint.md
        - F. Interception: tests/interception.md
        - G. Persistence: tests/persistence.md
        - H. Device Monitoring: tests/device_monitoring.md
        - I. Angular Services: tests/angular_services.md
        - J. Serialization: tests/serialization.md
        - K. Configuration: tests/configuration.md
        - L. Authorization: tests/authorization.md
        - M. Dashboard error visualization: tests/dashboard_error_visualization.md
